@using BurgerApp.ViewModels.OrderViewModels;
@model OrderFormViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateOrder" method="post">
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="IsDelivered" class="control-label"></label>
                <input asp-for="IsDelivered" type="checkbox" />
            </div>

            <div class="form-group">
                <label asp-for="BurgerName" class="control-label"></label>
                <input asp-for="BurgerName" class="form-control" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>

    </div>
</div>

