@model List<PizzaViewModel>

<h2>Pizza -> Index</h2>

<ol>
    @for (int i = 0; i < Model.Count; i++)
    {
        <li>@Model.ElementAt(i).Name - @Model.ElementAt(i).Price - @Model.ElementAt(i).PizzaSize </li>
    }
</ol>


<p>==========================================================================</p>

<h3>Pizzas</h3>

@foreach (var pizza in Model)
{
    <partial name="~/Views/Shared/Partials/_PizzaDetails.cshtml" for="@pizza" />
}